.navbar {
  background: #0f172a;
  color: white;
  padding: 1rem 2rem;
}

.navbar-container {
  max-width: 1300px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  color: white;
  font-weight: 500;
}

.nav-link:hover {
  color: #60a5fa;
}